{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block style %}
<link href="../static/index.css" rel="stylesheet">
{% endblock %}

{% block main %}
<body>
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3">Gordon Barbers Funeral Home</a>
  <form action="/search" method="post">
    <input name="search" class="form-control form-control-dark w-100" autocomplete="off" type="text" placeholder="Search" aria-label="Search">
  </form>

  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="/logout">Sign out</a>
    </li>
  </ul>
</header>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <h5 class="d-flex justify-content-between align-items-center px-3 mt-4 mb-1 bold"><u>
            Sort By Branch
          </u></h5>
          <li class="nav-item">
            <a class="nav-link {% if search_active != true %} active {% endif %}" href="/">
              All Deceased
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if branch is defined %} {% if branch | int == 0956 %} active {% endif %} {% endif %}" href="/search/0956">
              My Branch
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if branch is defined %} {% if branch | int == 0181 %} active {% endif %} {% endif %}" href="/search/0181">
              Gordon Barbers Aylsham Road
            </a>
          </li> 
          <li class="nav-item">
            <a class="nav-link {% if branch is defined %} {% if branch | int == 0518 %} active {% endif %} {% endif %}" href="/search/0518">
              Gordon Barbers St Williams Way
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if branch is defined %} {% if branch | int == 1049 %} active {% endif %} {% endif %}" href="/search/1049">
              Gordon Barbers Eaton
            </a>
          <li class="nav-item">
            <a class="nav-link {% if branch is defined %} {% if branch | int == 0192 %} active {% endif %} {% endif %}" href="/search/0182">
              Gordon Barbers Harvey's
            </a>
          <li class="nav-item">
            <a class="nav-link {% if branch is defined %} {% if branch | int == 1121 %} active {% endif %} {% endif %}" href="/search/1121">
              Gordon Barbers Hoveton
            </a>
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{{branch}}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-bg btn-outline-secondary" onclick="dropDown('add')">Add</button>
            <button type="submit" class="btn btn-bg btn-outline-secondary" onclick="dropDown('update')">Update</button>
            <button type="button" class="btn btn-bg btn-outline-secondary" onclick="dropDown('delete')">Delete</button>
          </div>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-striped table-sm" id="tableCompleted">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Location</th>
              <th>RFB</th>
              <th>C/B</th>
              <th>Viewing</th>
              <th>Papers</th>
              <th>Music</th>
              <th>S. Sheets</th>
              <th>Encoffined</th>
              <th>Clothes</th>
              <th>Embalm/Prep</th>
            </tr>
          </thead>
          <tbody>
            {% for row in deceased %}
            <tr>
              <td>{{ deceased[loop.index0][1] }}</td>
              <td>{{ deceased[loop.index0][2] }}</td>
              <td>{{ deceased[loop.index0][3] }}</td>
              <td>{{ deceased[loop.index0][4] }}</td>
              <td>{{ deceased[loop.index0][5] }}</td>
              <td>{{ deceased[loop.index0][6] }}</td>
              <td>{{ deceased[loop.index0][7] }}</td>
              <td>{{ deceased[loop.index0][8] }}</td>
              <td>{{ deceased[loop.index0][9] }}</td>
              <td>{{ deceased[loop.index0][10] }}</td>
              <td>{{ deceased[loop.index0][11] }}</td>
              <td>{{ deceased[loop.index0][12] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>
</body>

<div id="add" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeDropDown('add')">&times;</a>
  <div class="overlay-content form-group">
    <form action="/add" method="post">
    <h2>Add A New Deceased To The Record</h2>
      <input type="text" autocomplete="off" name="first_name" class="form-control-sm mx-2" placeholder="First Name" pattern="^[a-zA-Z ]*$" title="Text Only" required>
      <input type="text" autocomplete="off" name="last_name" class="form-control-sm mx-2" placeholder="Last Name" pattern="^[a-zA-Z ]*$"  title="Text Only" required>
      <input type="text" name="location" class="form-control-sm mx-2" placeholder="Location" pattern="[0-9]{4}$" title="4 Digit Number Only" required>
      <button type="submit" class="form-control-sm btn-dark">Save</button>
    </form>
  </div>
</div>

<div id="update" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeDropDown('update')">&times;</a>
  <div class="overlay-content form-group">
    <form action="/update" method="post">
      <h2>Choose A Deceased To Update</h2>
        <select id="deceased_to_update" name="deceased_to_update" onchange="updateValues(this)">
          <option value="" selected disabled hidden>Select Deceased</option>
          {% for row in deceased %}
          <option id="{{ loop.index0 }}" value="{{ deceased[loop.index0] }}">{{ deceased[loop.index0][1] }} {{ deceased[loop.index0][2] }}</option>
          {% endfor %}
        </select>
        <input type="text" name="id" id="id" required style="display:none;">
        <input type="text" name="first_name" id="first_name" required style="display:none;">
        <input type="text" name="last_name" id="last_name" required style="display:none;">
        <input type="text" name="location" id="location" class="form-control-sm mx-2 update-input" placeholder="Location" pattern="[0-9]{4}$" title="4 Digit Number Only" required>
        <input type="text" name="rfb" id="rfb" class="form-control-sm mx-2 update-input" placeholder="RFB">
        <input type="text" name="cb" id="cb" class="form-control-sm mx-2 update-input" placeholder="C/B">
        <input type="text" name="viewing" id="viewing" autocomplete="off" class="form-control-sm mx-2 update-input" placeholder="Viewing">
        <input type="text" name="papers" id="papers" autocomplete="off" class="form-control-sm mx-2 update-input" placeholder="Papers">
        <input type="text" name="music" id="music" autocomplete="off" class="form-control-sm mx-2 update-input" placeholder="Music">
        <input type="text" name="sheets" id="sheets" autocomplete="off" class="form-control-sm mx-2 update-input" placeholder="Sheets">
        <input type="text" name="encoffined" id="encoffined" autocomplete="off" class="form-control-sm mx-2 update-input" style="width: 90px" placeholder="Encoffined">
        <input type="text" name="clothes" id="clothes" autocomplete="off" class="form-control-sm mx-2 update-input" placeholder="Clothes">
        <input type="text" name="prep" id="prep" autocomplete="off" class="form-control-sm mx-2 update-input" placeholder="Prep">
        <button type="submit" class="form-control-sm btn-dark">Save</button>
    </form>
  </div>
</div>

<div id="delete" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeDropDown('delete')">&times;</a>
  <div class="overlay-content form-group">
    <form action="/delete" method="post">
    <h2>Delete A Deceased From The Record</h2>
      <select name="deceased_to_delete" onchange="updateValues(this)">
        <option value="" selected disabled hidden>Select Deceased</option>
        {% for row in deceased %}
        <option value="{{ deceased[loop.index0][0] }}">{{ deceased[loop.index0][1] }} {{ deceased[loop.index0][2] }}</option>
        {% endfor %}
      </select>
      <button type="submit" class="form-control-sm btn-dark">Delete</button>
    </form>
  </div>
</div>

<script>
  function dropDown(type) {
    document.getElementById(type).style.height = "100%";
  }
  
  function closeDropDown(type) {
    document.getElementById(type).style.height = "0%";
  }

  function updateValues(selectObject) {
    var deceasedDetails = selectObject.value.split('(').join('');
    deceasedDetails = deceasedDetails.split(')').join('');
    deceasedDetails = deceasedDetails.split("'").join('');
    deceasedDetails = deceasedDetails.split(',');

    for (var i = 0; i < deceasedDetails.length; i++) {
      deceasedDetails[i] = deceasedDetails[i].trim()
    }

    var inputFields = ["id", "first_name", "last_name", "location", "rfb", "cb", "viewing", "papers", "music", "sheets", "encoffined", "clothes", "prep"];

    for (i = 0; i < inputFields.length; i++) {
      if (deceasedDetails[i] != "None") {
        document.getElementById(inputFields[i]).value = deceasedDetails[i];
      }
    }
  }

</script>

{% endblock %}