{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block style %}
<link href="../static/index.css" rel="stylesheet">
{% endblock %}

{% block main %}
<body>
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3">Gordon Barbers</a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="/logout">Sign out</a>
    </li>
  </ul>
</header>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <h5 class="d-flex justify-content-between align-items-center px-3 mt-4 mb-1 bold"><u>
            Filters
          </u></h5>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
              All Deceased
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              My Branch
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Arranged
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Into Care
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
                Currently On Hold 
            </a>
          <li class="nav-item">
            <a class="nav-link" href="#">
                Covid-19 Positive 
            </a>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Order By Funeral Date 
            </a>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Order By Into Care 
            </a>
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Norwich Care Centre 0956</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-bg btn-outline-secondary" onclick="openNav()">Add</button>
            <button type="button" class="btn btn-bg btn-outline-secondary">Update</button>
            <button type="button" class="btn btn-bg btn-outline-secondary">Delete</button>
          </div>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Location</th>
              <th>RFB</th>
              <th>C/B</th>
              <th>Viewing</th>
              <th>Papers</th>
              <th>Music</th>
              <th>Service Sheets</th>
              <th>Encoffined</th>
              <th>Clothes</th>
              <th>Embalm/Prep</th>
            </tr>
          </thead>
          <tbody>
            {% for row in deceased %}
            <tr>
              <td>{{ deceased[loop.index0][1] }}</td>
              <td>{{ deceased[loop.index0][2] }}</td>
              <td>{{ deceased[loop.index0][3] }}</td>
              <td>{{ deceased[loop.index0][4] }}</td>
              <td>{{ deceased[loop.index0][5] }}</td>
              <td>{{ deceased[loop.index0][6] }}</td>
              <td>{{ deceased[loop.index0][7] }}</td>
              <td>{{ deceased[loop.index0][8] }}</td>
              <td>{{ deceased[loop.index0][9] }}</td>
              <td>{{ deceased[loop.index0][10] }}</td>
              <td>{{ deceased[loop.index0][11] }}</td>
              <td>{{ deceased[loop.index0][12] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>
</body>

<div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="overlay-content form-group">
    <h2>Add A New Deceased To The Record</h2>
    <input type="text" class="form-control-sm mx-2" placeholder="First Name" required>
    <input type="text" class="form-control-sm mx-2" placeholder="Second Name" required>
    <input type="text" class="form-control-sm mx-2" placeholder="Location" required>
    <button type="submit" class="form-control-sm btn-dark">Save</button>
  </div>
</div>

<script>
  function openNav() {
    document.getElementById("myNav").style.height = "100%";
  }
  
  function closeNav() {
    document.getElementById("myNav").style.height = "0%";
  }
</script>

{% endblock %}