{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block style %}
<link href="../static/login.css" rel="stylesheet">
{% endblock %}


{% block main %}
  <main class="form-signin text-center">
    <form action="/login" method="post">
      <img class="mb-4" src="../static/favicon.png" alt="logo here" width="50%" height="50%">
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
          <input type="text" name="username" class="form-control" placeholder="Username" autocomplete="off" autofocus required>
          <input type="password" name="password" class="form-control" placeholder="Password" required>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted">CS50 Final Project 2021</p>
    </form>
  </main>
{% endblock %}
